@charset "utf-8";
/* CSS Document */

#menufijo {
    background-color: #8B4023;
    height: 100px;
    width: 500px;
    margin-left: 26%;
    position: fixed;
    z-index: 5;
}
#menufijo {
    background-color: #9F421E;
    height: 100px;
    width: 500px;
    margin-left: 26%;
    position: fixed;
    z-index: 5;
}
#menufijo {
    background-color: #6C1415;
    height: 100px;
    width: 500px;
    margin-left: 35%;
    position: fixed;
    z-index: 2;
}
#texto {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #13205E;
    background-color: #FFFFFF;
}
